$color_1: red;
$color_2: white;
$color_3: black;
$font-family_1: Trebuchet MS, Arial, sans-serif;
$background-color_1: red;
$background-color_2: #f44336;
$background-color_3: #ddd;
$main-background: #eee;