body {
  font-family: sans-serif;
  background: #eee;
  margin: auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
    }

  #container {
    background: white;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 3px 3px #ddd;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  h1 {
    font-size: 45px;
    width: 300px;
    color: red;
    text-shadow: #ddd;
    }

  #game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;;
    align-items: center; 
    justify-content: center;
    position: relative;
    width: 300px;
    height: 300px;
    gap: 0;
  }

    #game-results-area {
      width: 300px;
    }    

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 75px;
    /* border-radius: 5px; */
  }

  
  .line {
    position: absolute;
    background-color: red;
  }

  .line-across-1 {
    width: 100%;
    height: 8px;
    top: 16%;
    
  } 

  .line-across-2 {
    width: 100%;
    height: 8px;
    top: 49%;
  } 
  
  .line-across-3 {
    width: 100%;
    height: 8px;
    top: 82%;
  } 

  .line-down-1 {
    width: 8px;
    height: 100%;
    left: 17%;
  }

  .line-down-2 {
    width: 8px;
    height: 100%;
    left: 50%;
  }

  .line-down-3 {
    width: 8px;
    height: 100%;
    left: 84%;
  }

  .line-diagonal-1 {
    width: 93%;
    height: 8px;
    top: 49%;
    left: 4%;    
    transform: skewY(45deg);
     }

  .line-diagonal-2 {
    width: 93%;
    height: 8px;
    top: 49%;
    left: 4%;    
    transform: skewY(-45deg);
  }

  #play-again {
    font-size: 20px;
    background-color: #f44336;
    border-radius: 8px;
    border: none;
    color: white;
  }